#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <dt-bindings/zmk/hid-io/plover_hid.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&soft_off { hold-time-ms = <2000>; };

/* --- Haptic feedback smoke test: badjeff/zmk-output-behavior-listener ---
 * Forces the module's C to compile against the pinned ZMK v0.3.0 (via
 * dt_compat auto-enable). gpio0.4 is a placeholder pin (compile-only;
 * not validated as physically free). Remove if build fails / when done. */
#define OUTPUT_SOURCE_KEYCODE_STATE_CHANGE 3

/ {
    erm0: output_generic_0 {
        compatible = "zmk,output-generic";
        #binding-cells = <0>;
        control-gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
    };

    ob_erm0_in: ob_generic_erm0_in {
        compatible = "zmk,output-behavior-generic";
        #binding-cells = <0>;
        device = <&erm0>;
        delay = <1>;
        time-to-live-ms = <30>;
    };

    erm0_obl {
        compatible = "zmk,output-behavior-listener";
        layers = <0>;
        sources = <OUTPUT_SOURCE_KEYCODE_STATE_CHANGE>;
        bindings = <&ob_erm0_in>;
    };
};

&mt {
    flavor = "tap-unless-interrupted";
    tapping-term-ms = <140>;
};

/ {
    behaviors {
        // Plover HID steno key. Arg = key index, use PLV_* macros.
        // e.g. &plv PLV_SL  &plv PLV_TL  &plv PLV_A  &plv PLV_NM

        plv: plover_hid {
            compatible = "zmk,behavior-plover-hid";
            #binding-cells = <1>;
        };
    };

    behaviors {
    };

    combos {
        compatible = "zmk,combos";

        kp_cut {
            bindings = <&kp LC(X)>;
            key-positions = <40 41>;
            layers = <0 1 4>;
        };

        kp_copy {
            bindings = <&kp LC(C)>;
            key-positions = <42 41>;
            layers = <0 1 4>;
        };

        kp_paste {
            bindings = <&kp LC(V)>;
            key-positions = <43 44>;
            layers = <0 4 1>;
        };

        kp_esc {
            bindings = <&kp ESCAPE>;
            key-positions = <0 13>;
            layers = <0 4 1>;
        };

        kp_caps {
            bindings = <&kp CAPSLOCK>;
            key-positions = <39 51>;
            layers = <0 4>;
        };

        to_stno {
            bindings = <&to 3>;
            key-positions = <28 46 18 23>;
            layers = <0 4>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer0 {
            bindings = <
&kp GRAVE       &kp N1  &kp N2    &kp N3    &kp N4  &kp N5           &kp LC(X)  &kp N6     &kp N7     &kp N8         &kp N9    &kp N0    &kp DELETE
&kp TAB         &kp Q   &kp W     &kp E     &kp R   &kp T            &kp LC(C)  &kp Y      &kp U      &kp I          &kp O     &kp P     &kp BSLH
&kp RCTRL       &kp A   &kp S     &kp D     &kp F   &kp G            &kp LC(Z)  &kp H      &kp J      &kp K          &kp L     &kp SEMI  &kp APOS
&kp LEFT_SHIFT  &kp Z   &kp X     &kp C     &kp V   &kp B            &kp LC(Y)  &kp N      &kp M      &kp COMMA      &kp DOT   &kp FSLH  &kp RIGHT_SHIFT
&kp C_MUTE      &trans  &kp LWIN  &kp LALT  &mo 1   &kp BACKSPACE    &kp LC(V)  &kp ENTER  &kp SPACE  &kp RIGHT_ALT  &kp RWIN  &trans
            >;

            display-name = "Base";
        };

        layer1 {
            bindings = <
&kp F1           &kp F2           &kp F3           &kp F4           &kp F5           &kp F6    &mmv MOVE_UP     &kp F7           &kp F8          &kp F9    &kp F10    &kp F11           &kp F12
&trans           &trans           &mkp LCLK        &mkp MCLK        &mkp RCLK        &trans    &mmv MOVE_DOWN   &kp PRINTSCREEN  &sk LEFT_SHIFT  &kp UP    &trans     &kp MINUS         &kp EQUAL
&rgb_ug RGB_TOG  &rgb_ug RGB_HUI  &rgb_ug RGB_SAI  &rgb_ug RGB_SPI  &rgb_ug RGB_EFF  &trans    &mmv MOVE_LEFT   &trans           &kp LEFT        &kp DOWN  &kp RIGHT  &kp LEFT_BRACKET  &kp RIGHT_BRACKET
&trans           &rgb_ug RGB_HUD  &rgb_ug RGB_SAD  &rgb_ug RGB_SPD  &trans           &trans    &mmv MOVE_RIGHT  &trans           &trans          &trans    &trans     &trans            &trans
&kp C_MUTE       &to 2            &trans           &trans           &trans           &trans    &mkp LCLK        &trans           &trans          &trans    &trans     &to 4
            >;

            display-name = "Fn/Nav";
        };

        layer2 {
            bindings = <
&trans  &bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &mmv MOVE_UP     &trans  &trans  &kp F8   &kp F9   &kp F10    &trans
&trans  &bt BT_CLR    &bt BT_CLR_ALL  &trans        &trans        &trans          &mmv MOVE_DOWN   &trans  &trans  &kp F11  &kp F12  &kp UNDER  &kp PLUS
&trans  &out OUT_USB  &out OUT_BLE    &trans        &trans        &trans          &mmv MOVE_LEFT   &trans  &trans  &trans   &trans   &kp LBRC   &kp RBRC
&trans  &trans        &trans          &trans        &trans        &trans          &mmv MOVE_RIGHT  &trans  &trans  &trans   &trans   &trans     &trans
&trans  &to 0         &trans          &trans        &trans        &trans          &mkp LCLK        &trans  &trans  &trans   &trans   &trans
            >;

            display-name = "Bluetooth";
        };

        // Plover steno. Enter with &to 3 (base left thumb), exit with &to 0.
        // Layout (standard English stenotype):
        //   #  #  #  #  #       #  #  #  #  #
        //   S- T- P- H- *       *  -F -P -L -T -D
        //   S- K- W- R- *       *  -R -B -G -S -Z
        //            A- O-    -E -U

        layer3 {
            bindings = <
&none   &plv PLV_NM  &plv PLV_NM  &plv PLV_NM  &plv PLV_NM  &plv PLV_NM    &none  &plv PLV_NM  &plv PLV_NM  &plv PLV_NM  &plv PLV_NM  &plv PLV_NM  &none
&none   &plv PLV_SL  &plv PLV_TL  &plv PLV_PL  &plv PLV_HL  &plv PLV_ST    &none  &plv PLV_ST  &plv PLV_FR  &plv PLV_PR  &plv PLV_LR  &plv PLV_TR  &plv PLV_DR
&none   &plv PLV_SL  &plv PLV_KL  &plv PLV_WL  &plv PLV_RL  &plv PLV_ST    &none  &plv PLV_ST  &plv PLV_RR  &plv PLV_BR  &plv PLV_GR  &plv PLV_SR  &plv PLV_ZR
&none   &none        &none        &none        &none        &none          &none  &none        &none        &none        &none        &none        &none
&trans  &to 0        &none        &none        &plv PLV_A   &plv PLV_O     &none  &plv PLV_E   &plv PLV_U   &none        &none        &to 0
            >;

            display-name = "Steno";
        };

        layer4 {
            display-name = "Colemk";
            bindings = <
&kp GRAVE       &kp N1  &kp N2    &kp N3    &kp N4  &kp N5           &kp LC(X)  &kp N6     &kp N7     &kp N8         &kp N9    &kp N0         &kp DELETE
&kp TAB         &kp Q   &kp W     &kp F     &kp P   &kp B            &kp LC(C)  &kp J      &kp L      &kp U          &kp Y     &kp SEMICOLON  &kp BSLH
&kp RCTRL       &kp A   &kp R     &kp S     &kp T   &kp G            &kp LC(Z)  &kp M      &kp N      &kp E          &kp I     &kp O          &kp APOS
&kp LEFT_SHIFT  &kp Z   &kp X     &kp C     &kp D   &kp V            &kp LC(Y)  &kp K      &kp H      &kp COMMA      &kp DOT   &kp FSLH       &kp RIGHT_SHIFT
&kp C_MUTE      &trans  &kp LWIN  &kp LALT  &mo 1   &kp BACKSPACE    &kp LC(V)  &kp ENTER  &kp SPACE  &kp RIGHT_ALT  &kp RGUI  &trans
            >;
        };
    };
};
